<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href="/static/styleSheet.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div>
			<h1>POS SYSTEM</h1>
		</div>

		<div>

			<h2>Login</h2>

			<form method="post" action="/">
				<label for="username">Username</label><br>
				<input type="text" id="username" name="username"><br>
				<label for="password">Password</label><br>
				<input type="text" id="password" name="password"><br><br>
				<input type="submit" value="LOGIN">
				<p>No account yet?<a href="{{ url_for('register') }}">Create Account</a></p>
			</form> 
		</div>
	</div>
</body>
</html>